body{
	background: rgb(184,169,226);
	background: linear-gradient(to right, rgb(70,46,141),rgb(184,169,226));
}
.bg{
	background-image: url(portada2.jpg);
	background-position: center center;	
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }

.titulo {
	text-align: center;
	color: white;
}
.letras{
	margin: 30px 50px;
	text-align: center;
	color: white;
	font-size: 25px;
}
.logo{
	margin: 10px 30%;
}
/*esto es para el boton*/
.container-boton{
    background-color: #2e6329;
    border: 1px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 5%;
    padding: 25px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.boton{
    width: 30px;
    transition: ease 1s;
}

@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}